body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #333;
	line-height: 26px;
	text-transform: uppercase;
}
h2 {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #000;
	line-height: 24px;
	text-transform: uppercase;
}
h3 {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 21px;
	color: #000;
	line-height: 21px;
	text-transform: uppercase;
}
ul{
	margin: 0;
}

       /* Содержимое сайта */
.clearfix::after {
content: "";
display: table;
clear: both;
}
.container{
width: 1200px;
margin: 0 auto;
padding: 0 auto;
}
           /* Шапка сайта*/
.main-navigation {
min-height: 55px;
}
.main-navigation li {
list-style:none;
padding-right: 160px;
padding-top: 15px;
}
.navigation-logo{
	position: absolute;
	top: 0;
	left: calc(50% - 145px /2);
	z-index: 100;
}
.left{
	float:left;
}
.right{
	float: right;
}
.main-navigation a{
text-decoration: none;
color: #000;
}
                 /*Лого*/
.main-logo{
position: relative;
width: 1200px;
height: 719px;
}
.main-logo::after{
	content: '';
	display: inline-block;
	width: 100%;
	height: 57px;
	position: absolute;
	background-image: url(../img/bottom-line.png);
	bottom: 0;
	background-size: contain;
	background-repeat: no-repeat;
	left: 0;
	z-index: 100;
}
/* Заголовок после шапки */
.tagline{
text-align: center;
width: 500px;
padding: 0 auto;
margin: 0 auto;
}
/* Первая полоса с информацией */
.main-line-first{
	margin-bottom:60px;
  text-align: center;
}
.town{
float: left;
width:400px;
min-height: 260px;
background-color: #81b3d2;
color: white;
}
.town h3{
	color: white;
}
.town-image{
float: right;
width:800px;
height: 260px;
}
/* Вторая полоса с информацией */
.features-list-item{
  float:left;
  width: 400px;
  min-height:200px;
  text-align: center;
}
.features-icon{
  width:75px;
  height:75px;
  margin-right: auto;
  margin-left:auto;
}
      /* Третья полоса c информацией*/
.main-line-third{
text-align: center;
clear: both;
}
.town-two{
float: right;
width:400px;
min-height: 260px;
background-color: #81b3d2;
color: white;
}
.town-two h3{
color: white;
}
.town-image-two{
float: left;
width:800px;
height: 260px;
}
/* Четвертая полоса с информацией */
.advantages{
	float:left;
	width: 400px;
	min-height:260px;
	text-align: center;
	background-color: #eeeeee;
	margin-bottom: 60px;
}
/* Пятая полоса */
.promo{
	width: 573px;
  margin-right: auto;
  margin-left:auto;
  margin-bottom: 54px;
  text-align: center;
}
   /*Footer*/
.main-footer{
	   text-align: center;
	   padding-top: 35px;
	   padding-bottom: 35px;
		 background-color: black;
}
.hash-tag{
	float: left;
	width: 400px;
}
.footer-social{
	float:left;
	width: 400px;
}
.footer-copyright{
float:right;
width:400px;
}
.form-search{
display: none;
}
.map-view img{
display: block;
width: 1200px;
}

.form-search-hotel{
	  min-height: 217px;
	  margin: 0 73px;
}
fieldset{
	display: inline-block;
}
input{
	display: block;
}
label{
	display: inline;
}
.conclusion-result-line{
	min-height: 86px;
  margin: 0 73px;
	outline: 1px solid blue;
}
.conclusion-result-line li{
	list-style: none;
	display: inline-block;
}
.conclusion-result-line a{
	list-style: none;
	float: right;
	padding-bottom: 15px;
}
