body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #333;
	line-height: 26px;
	text-transform: uppercase;
}
h2 {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #000;
	line-height: 24px;
	text-transform: uppercase;
}
h3 {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 21px;
	color: #000;
	line-height: 21px;
	text-transform: uppercase;
}
ul{
	margin: 0;
}

       /* Содержимое сайта */
.clearfix::after {
content: "";
display: table;
clear: both;
}
.container{
max-width: 1200px;
min-width: 768px;
margin: 0 auto;
background: #fff;
box-shadow: 0 -5px 15px 0 rgba(0,0,0,.2);}
           /* Шапка сайта*/
.main-navigation {
min-height: 55px;
}
.main-navigation  ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.main-navigation li {
display: inline-block;
vertical-align: top;
width: 20%;
}
.navigation-logo{
	position: absolute;
	top: 0;
	left: calc(50% - 138px /2);
	z-index: 100;
}
.left{
	float:left;
}
.right{
	float: right;
}
.main-navigation a{
	display: block;
	padding: 15px 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.main-navigation a:hover{
	 color:#81b3d2;
}
.main-navigation a:active{
	color: #000;
	opacity: .3;
}
                 /*Лого*/
.main-logo{
position: relative;
height: 510px;
background: url(../img/slogan.jpg) no-repeat 50% 20%;
background-size: cover;
}
.main-logo::after{
	content: '';
	display: inline-block;
	width: 100%;
	height: 57px;
	position: absolute;
	background-image: url(../img/bottom-line.png);
	bottom: 0;
	background-size: contain;
	background-repeat: no-repeat;
	left: 0;
	z-index: 100;
}
/* Заголовок после шапки */
.tagline{
padding: 31px 0;
line-height: 26px;
text-align: center;
}
.tagline-title{
	width: 450px;
	margin: 28px auto;
	font-size: 21px;
	line-height: 26px;
	color:#000;
}
.tagline p{
	font-size: 14px;
	line-height: 26px;
	margin: 20px 0;
}
/* Первая полоса с информацией */
.main-line-first{
	margin-bottom:60px;
  text-align: center;
}
.town{
float: left;
width:400px;
min-height: 256px;
background-color: #81b3d2;
color: white;
}
.town h3{
padding-top: 50px;
margin: 10px auto;
color: white;
font-size: 21px;
line-height: 21px;
font-weight: bold;
}
.town p{
	margin: 22px auto;
}
.town span{
margin-top: 35px;
}
.town-image{
float: right;
width:800px;
height: 256px;
}
/* Вторая полоса с информацией */
.features-list-item{
  float:left;
  width: 400px;
  text-align: center;
	margin-bottom: 60px;
}
.features-icon{
  width:75px;
  height:75px;
  margin-right: auto;
  margin-left:auto;
}
.features-list-item h3{
	font-size: 21px;
	line-height: 21px;
	text-align: center;
}
.features-list-item p{
font-size: 14px;
line-height: 21px;

}
      /* Третья полоса c информацией*/
.main-line-third{
text-align: center;
}
.town-two{
float: right;
width:400px;
min-height: 256px;
background-color: #81b3d2;
color: white;
}
.town-two h3{
padding-top: 50px;
margin: 10px auto;
color: white;
font-size: 21px;
line-height: 21px;
font-weight: bold;
}
.town-two p{
	font-size: 14px;
	line-height: 21px;
}
.town-image-two{
float: left;
width:800px;
height: 256px;
}
/* Четвертая полоса с информацией */
.advantages{
	float:left;
	width: 400px;
	min-height:260px;
	text-align: center;
	background-color: #eeeeee;
	margin-bottom: 60px;
}
.advantages h3{
	padding-top: 45px;
	font-size: 21px;
	line-height: 21px;
}
/* Пятая полоса */
.promo{
	width: 573px;
  margin-right: auto;
  margin-left:auto;
  margin-bottom: 54px;
  text-align: center;
}
   /*Footer*/
.main-footer{
height: 120px;
text-align: center;
opacity: 0.9;
background-color:#fdfdfd;
}
.hash-tag{
float: left;
width: 400px;
}
.hash-tag p{
	font-size: 21px;
	line-height: 26px;
	color: black;
	font-weight: bold;
	margin-top: 45px;
}
.footer-social{
	float:left;
	width: 400px;
}
.footer-copyright{
float:right;
width:400px;
}
.footer-copyright p{
font-size: 14px;
line-height: 21px;
}
.footer-copyright a{
	margin-top: 45px;
}
.form-search{
display: none;
}
.map-view img{
display: block;
width: 1200px;
}
/*-- Форма поиска отеля --*/
.form-search-hotel{
	width: 1055px;
	min-height: 217px;
  margin: 0 73px;
}
fieldset{
	display: inline-block;
	width: 270px;
}
.rightcoast{
	width: 250px;
	float:right;
}
input{
	display: block;
}
label{
	display: inline;
	font-size:14px;
}
legend{
	font-size: 14px;
}
.fsh{
	font-size: 0;
}
/*--- Линия "Найдено" --*/

.conclusion-result-line{
width: 1055px;
min-height: 86px;
margin: 0 75px;
}
.conclusion-result-line li{
list-style: none;
display: inline;
}
.conclusion-result-line span{
padding-left: 20px;
padding-top: 30px;
float: left;
}
.conclusion-result-line ul{
padding-top: 30px;
float: left;
}
.conclusion-result-line a{
text-decoration: none;
list-style: none;
}
.arrow{
	padding-top: 30px;
	width: 20px;
	height: 10px;
	float: right;
}
.arrow:hover{
	background: black;}
.conclusion-result-line h3{
	padding-top: 10px;
	float:left;
}
/*-- Отображение отелей--*/
.hotel{
  margin-left: 75px;
	width: 1055px;
	display: inline-block;
	list-style: none;
	outline: 1px solid black;
}
.photo-h{
	padding-top: 25px;
	width: 100px;
	height: 100px;
	float: left;
}
.hotel-description{
	padding-left: 50px;
	margin-left: 30px;
	width: 300px;
	float: left;
	outline: 1px solid black;
}
.stars{
	width: 200px;
	float: right;
}
.hp p{
	display: inline;
}
/*--Стилизация кнопок--*/
.btn{
display: inline-block;
vertical-align: top;
padding: 5px 17px;
border: none;
outline: none;
font-size: 14px;
line-height: 21px;
font-family: 'PT Sans', Arial, sans-serif;
font-weight: bold;
text-align: center;
text-transform: uppercase;
text-decoration: none;
color: #fff;
background: #81b3d2;
cursor: pointer;
}
.btn:hover{
	background: #669ec0;
}
.btn:active{
	color: rgba(255,255,255,.3);
  background: #5496bd;
}
.btn-res{
	background: #766357;
}
.btn-res:hover{
	background:#604e43;
}
.btn-res:active{
	background: #503e33;
}
